*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; 
}

.heading{
  font-size: 25px;
  text-align: center;
}


#text{
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }

.navbar-nav li a:hover, .navbar-nav li.active a {

  background-color: #000000 !important;

}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

#height{
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron{
  padding: 300px 25px;
  color: white;
}

.style{
  font-family: 'Dancing Script', cursive;
  color: white;
}

.welcome{
  font-family: 'Texturina', serif;
}

.quote{
  font-family:  cursive;
  text-align: center;
}

#quote{
  height: 200px;
  padding-top: 50px;
}

#about{
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(wp4261886-black-and-blue-3d-cube-wallpapers.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
}


#aboutl{
  height: 600px;
}

#aboutr{
  height: 600px;
}

.aboutme{
  text-align: center;
  padding-top: 180px;
  color: white;
  font-family: cursive;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;

}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;

	background: linear-gradient(to right, #0071a6 0%,#000000 100%);
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 14px;

}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;

}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:50px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%);
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:10px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}

	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


#work{
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(124831.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

#workspace{
  height: 50px;
}

#work1{
  height: 350px;
}

.box{
  height: 300px;
  margin: 20px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  color: white;
  font-family: 'Righteous', cursive;
}



@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff,;
  }
}

@media only screen and (max-device-width: 1024px) {
  #about {
    background-attachment: scroll;
  }
  #height {
    background-attachment: scroll;
  }
  #work{
    background-attachment: scroll;
  }

}

.box1{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.box1:before{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .2);
  z-index: 2;
  pointer-events: none;
}

 .box1 .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.box1:nth-child(1) .icon{
  box-shadow: 0 0 0 0 ;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(email.jpg);
  background-position: center;
  background-size: cover;
}

.box1:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #0084ff;
}

.box2:nth-child(1) .icon{
  box-shadow: 0 0 0 0 ;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(art-gallery-isometric-illustration_1284-18560.jpg);
  background-position: center;
  background-size: cover;
}

.box2:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #0084ff;
}

.box3:nth-child(1) .icon{
  box-shadow: 0 0 0 0 ;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(isometric-mathematics-concept-with-calculator_23-2148181798.jpg);
  background-position: center;
  background-size: cover;
}

.box3:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #0084ff;
}




@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #6f00ff;
}

.bar.expert::before{
  width: calc(100% - 10px);
}

.box .content{
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.box:hover .content{
  color: #fff;
}

.box:hover .content h3{
  padding: 0;
}

.box2{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.box2:before{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .2);
  z-index: 2;
  pointer-events: none;
}

 .box2 .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.bar2{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.bar2::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar2.front2::before{
  background-color: #ff6600;
}

.bar2.expert::before{
  width: calc(100% - 10px);
}

.box3{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.box3:before{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .2);
  z-index: 2;
  pointer-events: none;
}

 .box3 .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.bar3{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.bar3::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar3.front3::before{
  background-color: #3cff00;
}

.bar3.expert::before{
  width: calc(100% - 10px);
}

#charles{
  height: 150px;
  padding-top: 50px;
}

#skills{
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(wp2754084-wallpaper-black-light.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}

.texts{
  font-size: 60px;
  color: white;
  font-family: 'Russo One', sans-serif;
}

#skillspace{
  height: 700px;
}

.skill{
  padding-top: 40px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  color: white;
}

.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 20px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0;
  transition: 3s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: deepskyblue;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: deepskyblue;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@media only screen and (max-device-width: 1024px) {
  #about {
    background-attachment: scroll;
  }
  #height {
    background-attachment: scroll;
  }
  #work{
    background-attachment: scroll;
  }
  #skills{
    background-attachment: scroll;
  }

}
